* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.img {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  /* border: 2px solid black; */
  margin-bottom: 12px;
}

.img .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 2px solid black; */
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card:before {
  content:'';
  position: absolute;
  height: 36%;
  width: 100%;
  left:0;
  top:0;
  border-radius: 24px 24px 0px 0px;
  background-color: #4070f4;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.text-data .name {
  font-size: 22px;
  font-weight: 500;
}

.text-data .job {
  font-size: 15px;
  font-weight: 400;
}

.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.profile-card .media-buttons .link {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  text-decoration: none;
  background-color: #4070f4;
  margin: 0 8px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-size: 18px;
}

.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons .button {
  padding: 8px 24px;
  margin: 0 10px;
  border-radius: 24px;
  border: none;
  color: #fff;
  background-color: #4070f4;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background-color: #0e4bf1;
}

.analytics {
  display: flex;
  align-items: center;
  margin: 25px;
}

.data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}

.data span {
  font-size:15px;
  margin-right: 6px;
}

.data:last-child {
  border-right: none;

}