* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.img {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  /* border: 2px solid black; */
  margin-bottom: 12px;
}

.img .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 2px solid black; */
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-data .name {
  font-size:22px;
  font-weight: 500;
}

.text-data .job {
  font-size:15px;
  font-weight: 400;
}